In [1]:
if 10 > 20:
    print("10 is greater than 20")
    print("if block activated")
else:
    print("10 is less than 20")
    print("else block activated")

10 is less than 20
else block activated

In [2]:
bike_price = 7160
bike_price

7160

In [3]:
if bike_price <= 8000:
    print("It's a cheap bike")
    print("if block activated")
else:
    print("It's an expensive bike")
    print("else block is activated")

It's a cheap bike
if block activated

In [4]:
bike_price = 9000
if bike_price <= 8000:
    print("It's a cheap bike")
    else:
        print("It's an expesnive bike")

SyntaxError: invalid syntax (<ipython-input-4-ac8cf5f823cd>, line 4)

In [5]:
bike_price = 9000
if bike_price <= 8000:
    print("It's a cheap bike")
else:
        print("It's an expesnive bike")

It's an expesnive bike

In [7]:
num = 50
print("num before expression: ", num)

num = num - 20 if num > 20 else num + 20 # single line ternary operation evaluate something based on condition being true or not
print("num after expression: ", num)

num before expression:  50
num after expression:  30

In [9]:
num = 50
print("num before expression: ",num)

if num > 20:
    num = num - 20
else:
    num = num + 20
    
print("num after expression: ", num) # the above code is similar to this but above one is more compact

num before expression:  50
num after expression:  30

In [11]:
num = 100
print("number before expression : ", num)

result = num / 5 if num < 50 else num * 5
print("number after expression : " , result)

number before expression :  100
number after expression :  500

In [12]:
if 15 > 20:
    print("15 is greater than 20 ")
    print("if block is activated")
elif 15 < 20:
    print("15 is less than 20")
    print("elif block activated")
else:
    print("Both are equal")
    print("else book activated")

# elif is used to chain together if-else conditions

15 is less than 20
elif block activated

In [13]:
a = 45
b = 45

if b > a:
    print("b is greater than a ")
    print("if block is activated")
    
elif a ==  b:
    print(" a and b equal")
    print("elif block activated")
    
else:
    print("a is greater than  b")
    print("else book activated")

# elif is used to chain together if-else conditions

 a and b equal
elif block activated

In [17]:
bike_price = 20000
if bike_price < 6000:
    print("It's a cheap bike")
elif bike_price >= 6000 and bike_price < 10000:
    print("It's a moderatley priced bike")
elif bike_price >= 10000 and bike_price < 15000:
    print("It's a somewhat expensive bike")

In [18]:
bike_price = 20000
if bike_price < 6000:
    print("It's a cheap bike")
elif bike_price >= 6000 and bike_price < 10000:
    print("It's a moderatley priced bike")
elif bike_price >= 10000:
    print("It's a somewhat expensive bike")
elif bike_price >=20000:
    print("It's a very expensive bike")

It's a somewhat expensive bike

In [20]:
x = 25
y = 35 
z = 45

In [21]:
if x < y :
    print("The first condition is  true")
    if x < z:
        print("both condition are true")
    else:
        print("The first condition is true, the second one is false")

The first condition is  true
both condition are true

In [27]:
x = 55
if x < y:
    print("The first condition is true")
    
    if x < z:
        print("Both conditions are true")
    else:
        print("The first condition is true, the second one if false")
else:
    print("The first condition  is false")

The first condition  is false

In [4]:
age = int(input("Enter the age: "))
if age >= 15:
    
    if age > 20:
        print("You are too old for this camping trip !")
    else:
        print("You are of the right age for this camping trip!")
else:
    print("You are too young for this camping trip!")

Enter the age: 11
You are too young for this camping trip!

In [7]:
total = int(input("What is the total amount of your online shopping? "))
country = input("USA or Canada? ")

if country == "USA":
    if total <= 50:
        print("Shipping Cost is $9.00")
        
    elif total <= 100:
        print("Shipping Cost is $6.00")
        
    else:
        print("Shipping is Free")

if country == "Cannada":
    if total <= 50:
        print("Shipping Cost is $12.00")
        
    elif total <= 100:
        print("Shipping Cost is $8.00")
        
    else:
        print(" Shipping is FREE")

What is the total amount of your online shopping? 15
USA or Canada? USA
Shipping Cost is $9.00

In [14]:
fruit_list = ['apple', 'orange', 'grape', 'banana', 'avacado']

In [9]:
if "grape" in fruit_list:
    print("Yes', grape is in the fruit list")
else:
    print("No', grape is not in the fruit list")

Yes', grape is in the fruit list

In [11]:
if "strawberry" in fruit_list:
    print("strawberry', is in the fruit list")
elif "orange" in fruit_list:
    print("orange is in the fruit list")
else:
    print("Both strawberry and orange are not in the fruit list")

orange is in the fruit list

In [15]:
if fruit_list[1] == "orange":
    print("True")
else:
    print("False")

True

In [19]:
if fruit_list[4] == "avacado":
    print("Yes',avocado is at the fourth index")
    print("Replacing avocado with strawberry at the fourth index")
    
    fruit_list[4] = "strawberry"
    print(fruit_list)
else:
    print("avocado is not at the fourth index")

Yes',avocado is at the fourth index
Replacing avocado with strawberry at the fourth index
['apple', 'orange', 'grape', 'banana', 'strawberry']

In [20]:
car_tuple = ('Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla')

In [21]:
if 'Honda Accord' in car_tuple:
    print("Honda Accord is present in our car tuple")
else:
    print("Honda Accord is not present in our car tuple")

Honda Accord is present in our car tuple

In [22]:
if "Ducati Monster" in car_tuple:
    print("Ducati Monster is a car")
    
else:
    print("Ducati Monster is not a car")

Ducati Monster is not a car

In [23]:
if "Ducati Monster" in car_tuple and 'Honda Accord' in car_tuple:
    print("Ducati Monster and Honda Accord is a car")
    
else:
    print("At least one of Ducati Monster and Honda Accord is not a car")

At least one of Ducati Monster and Honda Accord is not a car

In [24]:
if "Ducati Monster" in car_tuple and 'Honda Accord' in car_tuple:
    print("At least one of Ducati Monster and Honda Accord is not a car")
    
else:
    print("Neither Ducati Monster nor Honda Accord is a car")

Neither Ducati Monster nor Honda Accord is a car

In [25]:
salary_details = {
                   "Lisa" : 25000,
                   "Jason" : 45000,
                   "Cooper" : 35000,
                    "Elias" : 23000,
                    "Jordan": 77000
}

In [27]:
salary_details

{'Lisa': 25000,
 'Jason': 45000,
 'Cooper': 35000,
 'Elias': 23000,
 'Jordan': 77000}

In [29]:
if "Lisa" in salary_details:
    print("We have the salary details for Lisa")
else:
    print("We don't have the salary details for Lisa")

We have the salary details for Lisa

In [30]:
if "Ruby" in salary_details:
    print("We have the salary details for Ruby")
else:
    print("We don't have the salary details for Ruby")

We don't have the salary details for Ruby

In [31]:
if "Cora" in salary_details:
    print("We have the salary details for Cora")
else:
    salary_details['Cora'] = 31000
    print("Cora's annual income is %s"%salary_details['Cora'])

Cora's annual income is 31000

In [32]:
salary_details

{'Lisa': 25000,
 'Jason': 45000,
 'Cooper': 35000,
 'Elias': 23000,
 'Jordan': 77000,
 'Cora': 31000}

In [3]:
age_details = {"Lisa": 25, "Jason": 30, "Cooper": 29, "Sarah": 22}

In [7]:

if age_details["Lisa"] < age_details["Jason"]:
    print("Jason is older than Lisa")
    if age_details['Jason'] > age_details['Cooper']:
        print("Jason is older than Cooper")
    if age_details["Cooper"] < age_details["Sarah"]:
        print("Cooper is younger than Sarah")
    elif age_details["Cooper"] > age_details["Sarah"]:
        print("Jason is the oldest person in the given dictionary")
else:
    print("Jason is not the oldest person in the given dictionary")

Jason is older than Lisa
Jason is older than Cooper
Jason is the oldest person in the given dictionary

In [11]:
details = [['Jane','Amanda', 'Emma'],
          [35, 40, 50],
          [20000, 50000, 40000]]

In [12]:
max_salary = max(details[2])
if (details[2][1] == max_salary):
    if(details[1][1] > 35):
        print(details[0][1], "has the higest salary and age is 30")
    elif(deatils[1][1] == 30):
        print(details[0][1], "has the higest salary and she is 30 year old")
    else:
        print("Amanda has the higest salary and her age is less than  30")
else:
    print("Amanda is not the higest paid employee")

Amanda has the higest salary and age is 30