In [23]:
letters = ['H','e','l','l','o']
for i in letters:
    print(letters) # here it is printing the list as per the length of the list
print("\n")
letters = ['H','e','l','l','o']
for i in letters:
    print(i) # here it is printing the element at the respective length.

['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']


H
e
l
l
o

In [24]:
for letter in "Hello":
    print(letter)

H
e
l
l
o

In [25]:
my_string = "Hello World"
for char in my_string:
    print(char)

H
e
l
l
o

W
o
r
l
d

In [26]:
for digit in "10":
    print(digit) # becos 10 is a string

1
0

In [27]:
for digit in 10:
    print(digit) # cannot iterate to integer values

TypeError: 'int' object is not iterable

In [29]:
for country in ['Germany', "India", "Israel"]:
    print(country)

Germany
India
Israel

In [34]:
dogs = ("Pug", "Doberman", "Golden Retriever")
for dog in dogs:
    print("It's a ", dogs)
    
print("\n")

dogs = ("Pug", "Doberman", "Golden Retriever")
for dog in dogs:
    print("It's a ", dog)

It's a  ('Pug', 'Doberman', 'Golden Retriever')
It's a  ('Pug', 'Doberman', 'Golden Retriever')
It's a  ('Pug', 'Doberman', 'Golden Retriever')


It's a  Pug
It's a  Doberman
It's a  Golden Retriever

In [36]:
# using enumerate
dog_weight = (("Pug",20),("Doberman", 80),("Golden Retriever", 55))
for i, (dog, weight) in enumerate (dog_weight):
    print("The dog at index %d is a %s and it weighs %s ponds" %(i, dog, weight))

The dog at index 0 is a Pug and it weighs 20 ponds
The dog at index 1 is a Doberman and it weighs 80 ponds
The dog at index 2 is a Golden Retriever and it weighs 55 ponds

In [48]:
# simple enumerate example
l1 = ["eat","Sleep","Repeat"]
s1 = "geek"

obj1 = enumerate(l1)
obj2 = enumerate(s1)
print(list(enumerate(obj1)))
print(list(enumerate(obj2)))

[(0, (0, 'eat')), (1, (1, 'Sleep')), (2, (2, 'Repeat'))]
[(0, (0, 'g')), (1, (1, 'e')), (2, (2, 'e')), (3, (3, 'k'))]

In [56]:
# another example
l1 = ["eat","sleep","repeat"]
for ele in enumerate(l1):
    print(ele)
print()
for count,ele in enumerate(l1,100):
    print(count,ele)
print()

for count,ele in enumerate(l1):
    print(count)
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

100 eat
101 sleep
102 repeat

0
eat
1
sleep
2
repeat

In [57]:
friends = ["John", "Sam", "Jill"]
for friend in friends:
    print("Happy New Year,",friend)

Happy New Year, John
Happy New Year, Sam
Happy New Year, Jill

In [58]:
student_scores = {'John': 80,
                  'sam': 60,
                 'Jill': 50,
                  'bob': 96}
student_scores

{'John': 80, 'sam': 60, 'Jill': 50, 'bob': 96}

In [64]:
for student in student_scores:
    print(student)

John
sam
Jill
bob

In [65]:
print(student_scores.keys())

dict_keys(['John', 'sam', 'Jill', 'bob'])

In [66]:
print(student_scores.values())

dict_values([80, 60, 50, 96])

In [67]:
print(student_scores.items())

dict_items([('John', 80), ('sam', 60), ('Jill', 50), ('bob', 96)])

In [68]:
for key in student_scores:
    print("Key value pair -", key, ":", student_scores[key])

Key value pair - John : 80
Key value pair - sam : 60
Key value pair - Jill : 50
Key value pair - bob : 96

In [69]:
for key_value in student_scores.items():
    print(key_value)

('John', 80)
('sam', 60)
('Jill', 50)
('bob', 96)

In [71]:
for student, score in student_scores.items():
    print("student:", student, "\tScore:", score)

student: John 	Score: 80
student: sam 	Score: 60
student: Jill 	Score: 50
student: bob 	Score: 96

In [73]:
numbers = [4, 6, 9, 10]
for num in numbers:
    quotient = num // 2
    print(quotient, "is the quotient of", num, "/2")

2 is the quotient of 4 /2
3 is the quotient of 6 /2
4 is the quotient of 9 /2
5 is the quotient of 10 /2

In [74]:
mixed_list = [145, 10.5, 1+3j,
              True, "Python",
              (0, 1), [2, -5],
              {"class": "V", "Section":"A"}]
for item in mixed_list:
    print("Type of", item, " is ", type(item))

Type of 145  is  <class 'int'>
Type of 10.5  is  <class 'float'>
Type of (1+3j)  is  <class 'complex'>
Type of True  is  <class 'bool'>
Type of Python  is  <class 'str'>
Type of (0, 1)  is  <class 'tuple'>
Type of [2, -5]  is  <class 'list'>
Type of {'class': 'V', 'Section': 'A'}  is  <class 'dict'>

In [75]:
num_list = [2, 4, 6, 8]
square = 0
for val in num_list:
    square = val ** 2
    print("Square of", val, "is", square)

Square of 2 is 4
Square of 4 is 16
Square of 6 is 36
Square of 8 is 64

In [78]:
string = input("Enter a string: ")
count = 0
for i in string:
    count = count + 1
    print(i)
print(count)

Enter a string: hello
h
e
l
l
o
5

In [79]:
numbers = [2, 3, 5, 7]
for num in numbers:
    print(num)
else:
    print("No more items left in the list.")

2
3
5
7
No more items left in the list.

In [81]:
characters = {"a", "b", "c", "d"}
for letter in characters:
    print(letter)
else:
    print("No more characters left.")

d
c
a
b
No more characters left.

In [92]:
us_cities = ["New York", "Nashville", "Seattle"]
for city in us_cities:
    if city == "New York":
        print("New York is not present in the list")

New York is not present in the list

In [93]:
numbers = [11, 33, 55, 39, 2, 55, 75, 37, 22, 23, 41, 13]
for num in numbers:
    if num % 2 == 0:
        print("This list contain an even number:",num)

This list contain an even number: 2
This list contain an even number: 22

In [94]:
years = [2016, 2017, 2018, 2019, 2020]
for year in years:
    if year % 4 ==0:
        print(year, "is a leap year")
    else:
        print(year, "is not a leap year")

2016 is a leap year
2017 is not a leap year
2018 is not a leap year
2019 is not a leap year
2020 is a leap year

In [96]:
# how to find leap year in python:
year = 2005

if (year % 4 == 0):
    if(year %  100 == 0):
        if (year % 400 == 0):
            print("{} is a leap year".format(year))
        else:
            print("{} is not leap year".format(year))
    else:
        print("{} is a leap year".format(year))
    
else:
    print("{} not a leap year".format(year))

2005 not a leap year

In [99]:
name = [["mary", "Linda", "Jessica"],
         ["James", "Jacob", "William"]]

for sublist in name:
    print(sublist)

['mary', 'Linda', 'Jessica']
['James', 'Jacob', 'William']

In [101]:
for sublist in name:
    for name in sublist:
        print(name)

mary
Linda
Jessica
James
Jacob
William

In [103]:
colors_list = ["Red", "Green", "Blue"]
objects_list = ["Pen", "Marker", "Pencil"]

for color in colors_list:
    for obj in objects_list:
        print(color, obj)

Red Pen
Red Marker
Red Pencil
Green Pen
Green Marker
Green Pencil
Blue Pen
Blue Marker
Blue Pencil