In [2]:
List_num = [100,55,66,77,55,22,99,441,11100,444,666,7788,222,999]
List_num

[100, 55, 66, 77, 55, 22, 99, 441, 11100, 444, 666, 7788, 222, 999]

In [6]:
# to find max number and min number
print(max(List_num))
print(min(List_num))

11100
22

In [7]:
# to find the length of the List_num
len(List_num)

14

In [15]:
# to sort the list
# default will sort to ascending
List_num.sort()
List_num

[22, 55, 55, 66, 77, 99, 100, 222, 441, 444, 666, 999, 7788, 11100]

In [19]:
list_num = sorted(List_num)
print(list_num)

[22, 55, 55, 66, 77, 99, 100, 222, 441, 444, 666, 999, 7788, 11100]

In [20]:
# to sort the list
# reverse --> True will print in descending orde
List_num.sort(reverse=True)
print(List_num)

[11100, 7788, 999, 666, 444, 441, 222, 100, 99, 77, 66, 55, 55, 22]

In [23]:
# sum of list
total = sum(List_num)
print(total)

22134

In [27]:
# using slicing to print numbers
num1 = List_num[:]
print(num1)

[11100, 7788, 999, 666, 444, 441, 222, 100, 99, 77, 66, 55, 55, 22]

In [28]:
# using slicing to print numbers
num2 = List_num[:10]
print(num2)

[11100, 7788, 999, 666, 444, 441, 222, 100, 99, 77]

In [29]:
# using slicing to print numbers
num3 = List_num[5:10]
print(num3)

[441, 222, 100, 99, 77]

In [39]:
# using slicing to print numbers
num4 = List_num[::-1]
print(num4)

[22, 55, 55, 66, 77, 99, 100, 222, 441, 444, 666, 999, 7788, 11100]

In [45]:
# using slicing to print numbers
num5 = num4[-14:-1:2]
print(num5)

[22, 55, 77, 100, 441, 666, 7788]

In [46]:
List_num

[11100, 7788, 999, 666, 444, 441, 222, 100, 99, 77, 66, 55, 55, 22]

In [60]:
List_num *= 2
List_num

[11100,
 7788,
 999,
 666,
 444,
 441,
 222,
 100,
 99,
 77,
 66,
 55,
 55,
 22,
 11100,
 7788,
 999,
 666,
 444,
 441,
 222,
 100,
 99,
 77,
 66,
 55,
 55,
 22,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 11100,
 7788,
 999,
 666,
 444,
 441,
 222,
 100,
 99,
 77,
 66,
 55,
 55,
 22,
 11100,
 7788,
 999,
 666,
 444,
 441,
 222,
 100,
 99,
 77,
 66,
 55,
 55,
 22,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [54]:
List_num.extend([0])
List_num

[11100,
 7788,
 999,
 666,
 444,
 441,
 222,
 100,
 99,
 77,
 66,
 55,
 55,
 22,
 11100,
 7788,
 999,
 666,
 444,
 441,
 222,
 100,
 99,
 77,
 66,
 55,
 55,
 22,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [57]:
# use of any function and all function
# True means ---> greater than zero
all([0])

False

In [61]:
# use of any function and all function
# False means ---> Less than zero
all([List_num])

True

In [62]:
# use of any function and all function
# False means ---> Less than zero
any([List_num])

True