In [1]:
my_range = range(5)
my_range

range(0, 5)

In [2]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [4]:
list(my_range)

[0, 1, 2, 3, 4]

In [5]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [6]:
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [7]:
for i in range(3.3):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [9]:
for i in range("C", "Y"):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [10]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [11]:
for i in range(3):
    print("Hello")

Hello
Hello
Hello

In [12]:
for _ in range(3):
    print("Hello")

Hello
Hello
Hello

In [13]:
for i in range(2 ** 2):
    print("Python")

Python
Python
Python
Python

In [14]:
for num in range(5, 10):
    print("number:", num)

number: 5
number: 6
number: 7
number: 8
number: 9

In [15]:
for i in range(5, 8):
    print(i, "square is", i ** 2)
print("End of loop")

5 square is 25
6 square is 36
7 square is 49
End of loop

In [16]:
for val in range(5, 10 + 1):
    print(val)
print("The loop has ended")

5
6
7
8
9
10
The loop has ended

In [17]:
x = range(5)
for i in reversed(x):
    print(i)

4
3
2
1
0

In [18]:
for i in reversed('welcome'):
    print(i)

e
m
o
c
l
e
w

In [26]:
list(range(10, 0 , -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
x = list(range(5, 10 , 2))
print(x)

[5, 7, 9]

In [28]:
tuple(range(5, -10, -2))

(5, 3, 1, -1, -3, -5, -7, -9)

In [29]:
list(range(-2, -10, -2))

[-2, -4, -6, -8]

In [31]:
start = -2
stop = -10
step = -2

for number in range (start, stop , step):
    print(number)

-2
-4
-6
-8

In [32]:
for i in range(1 , 10):
    if  i % 2 == 0:
        print("The number %s is divisible by 2" % i)
    else:
        print("The number %s is not divisible by 2" % i)

The number 1 is not divisible by 2
The number 2 is divisible by 2
The number 3 is not divisible by 2
The number 4 is divisible by 2
The number 5 is not divisible by 2
The number 6 is divisible by 2
The number 7 is not divisible by 2
The number 8 is divisible by 2
The number 9 is not divisible by 2

In [33]:
num_list = []
for i in range(1, 21):
    if(i % 3 == 0 or  i % 5==0):
        num_list.append(i)
print(num_list)

[3, 5, 6, 9, 10, 12, 15, 18, 20]

In [35]:
items = []
for i in range(100, 301):
    num_str = str(i)
    first_digit = int(num_str[0])
    second_digit = int(num_str[1])
    third_digit = int(num_str[2])
    if (first_digit % 2 == 0) and (second_digit % 2 ==0) and (third_digit % 2 ==0):
        items.append(num_str)
print(", ".join(items))

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288

In [36]:
for num1 in range(1, 10):
    print("num =", num1, ":", end=" ")
    
    for num_2 in range(1, 10):
        print("{:2d}".format(num1 * num_2), end=" ")
        
    print()

num = 1 :  1  2  3  4  5  6  7  8  9
num = 2 :  2  4  6  8 10 12 14 16 18
num = 3 :  3  6  9 12 15 18 21 24 27
num = 4 :  4  8 12 16 20 24 28 32 36
num = 5 :  5 10 15 20 25 30 35 40 45
num = 6 :  6 12 18 24 30 36 42 48 54
num = 7 :  7 14 21 28 35 42 49 56 63
num = 8 :  8 16 24 32 40 48 56 64 72
num = 9 :  9 18 27 36 45 54 63 72 81