In [51]:
# set is unique element , ordered and no intrinsic value
# set is an unordered ds
str_name = "python is powerful"
print(set(str_name))
shape_set = {"square","triangle","rectangle","hexagone","circle","cone","kite"}
print(shape_set)
print(shape_set(1))
print(shape_set[1])

{'n', 'u', 't', 'p', 'w', 'y', 'o', 'i', 'r', 's', ' ', 'e', 'l', 'h', 'f'}
{'rectangle', 'circle', 'hexagone', 'square', 'cone', 'kite', 'triangle'}

TypeError: 'set' object is not callable

In [37]:
# sets do not contain duplicate value
num_set = {4,3,2,6,0,3,6}
print(num_set)# there are two 3 only on is printed

{0, 2, 3, 4, 6}

In [38]:
# two set cannot be concatenated
print(num_set + shape_set)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [39]:
s1 = shape_set.copy()
s2 = num_set.copy()
print(s1,s2)

{'rectangle', 'hexagone', 'circle', 'square', 'cone', 'kite', 'triangle'} {0, 2, 3, 4, 6}

In [53]:
# discard and remove in set
s1.discard('kite')
print(s1)
s2.remove('kite')
print(s2) # keyerror bcos kite is already removed.

{0, 'rectangle', 2, 'circle', 3, 6, 'hexagone', 'square', 'cone', 'triangle'}

KeyError: 'kite'

In [49]:
# mixed set
s1.update(s2)
print(s1)
new_list = set([100,55,66,74,84,52])
print(new_list)
t_set = new_list,s1,s2
print(t_set)  # print tuple of set

{0, 'rectangle', 2, 'circle', 3, 6, 'hexagone', 'square', 'cone', 'triangle'}
{66, 100, 74, 84, 52, 55}
({66, 100, 74, 84, 52, 55}, {0, 'rectangle', 2, 'circle', 3, 6, 'hexagone', 'square', 'cone', 'triangle'}, {0, 2, 3, 6})

In [43]:
set_string = {"emma", "olivia", "Ava", "Mia"}
print(set_string)

{'olivia', 'emma', 'Mia', 'Ava'}

In [5]:
# create empty set
empty_set = set()
print(empty_set)

set()

In [6]:
# set consist of string, int, float, boolean
mixed_set = ("Emma", 5, 1.5, True)
print(mixed_set)

('Emma', 5, 1.5, True)

In [7]:
mixed_set1 = {"Emma", 5, 1.5, True, (1,2,3)}
print(mixed_set1)

{1.5, True, 5, (1, 2, 3), 'Emma'}

In [8]:
# cannot have a list as a part of set bocs list contain duplicate value, and mutable
# set can have only unique immutable value inorder to maintain the uniqueness
set_list = {1,2,3, [4,5,6]}
print(set_list)

TypeError: unhashable type: 'list'

In [9]:
# creating a set having one element as dictionary is also an error
set_dict = {1, 2, 3, {4: "Emma"}}
print(set_dict)

TypeError: unhashable type: 'dict'

In [10]:
# omly immutable DS can have is tuple in set
set_tuple = {1, 2, 3, (4, 5, 6)}
print(set_tuple)

{1, 2, 3, (4, 5, 6)}

In [12]:
set_string

{'Ava', 'Mia', 'emma', 'olivia'}

In [13]:
# acces the set 
set_string [2] # not  subscriptable bcos set is unordered and contain no index 
# by index we can access list and tuple

TypeError: 'set' object is not subscriptable

In [18]:
# set with duplicate 
set_1 = {1, 3, 4, 8, "a", 6, 2, 10, 3, 4}
print(set_1) #duplicate have been eliminated

{1, 2, 3, 4, 6, 8, 10, 'a'}

In [20]:
set_1.add(9)
print(set_1)
set_1.add(9.5)
print(set_1)
set_1.add(9)
print(set_1)

{1, 2, 3, 4, 6, 8, 9, 10, 9.5, 'a'}
{1, 2, 3, 4, 6, 8, 9, 10, 9.5, 'a'}
{1, 2, 3, 4, 6, 8, 9, 10, 9.5, 'a'}

In [26]:
teacher_set = {"Emma", "Olivia", "Ava", "Mia", "Avery", "jacob","Daniel"}
print(teacher_set)
print(len(teacher_set))

{'Avery', 'jacob', 'Emma', 'Daniel', 'Ava', 'Olivia', 'Mia'}
7

In [30]:
# max and min 
print(max(teacher_set))
print(min(teacher_set))

jacob
Ava

In [2]:
# operation onsets
number1={1, 2, 3, 4, 5}

number2={4, 5, 6, 7, 8}

number3={7, 8, 9, 10, 11}

In [58]:
# combine two set
number1.union(number2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
#union
number_union = number1.union(number2,number3)
print(number_union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
# union
student_set_1 = {"ava", "emma", "james"}
student_set_2 = {"james", "mia", " olivia"}
student_set_3 = {"olivia", "Sarah", "Sofia"}
print(student_set_1.union(student_set_2, student_set_3))

{'Sofia', 'emma', ' olivia', 'olivia', 'Sarah', 'james', 'ava', 'mia'}

In [5]:
# intersection
print(number2.intersection(number1))
print()
# difference
print(number1.difference(number2))
print(student_set_1.difference(student_set_3))# the difference is stored in student_set_1
print(student_set_1.difference(student_set_2))

{4, 5}

{1, 2, 3}
{'james', 'ava', 'emma'}
{'ava', 'emma'}

In [65]:
number1.intersection_update(number2)
print(number1)
print(number2)

{4, 5}
{4, 5, 6, 7, 8}

In [9]:
# isdisjoint tell wheather the two set is same ot not
print({1,2,3,4,5}.isdisjoint({4,5,6,7,8})) # that means two sets are not equal
print(number1.isdisjoint(number2))
print({1,2,3,4,5}.isdisjoint({6,7,8}))

False
False
True

In [13]:
# subset
print(number1.issubset(number2))
print()
print(number1.issuperset(number2))

False

False