In [1]:
salary = int(input("Enter salary amount :"))
expenses = int(input("Enter expernses: "))
savings = salary - expenses
print("My total savings in a month is :", savings)

Enter salary amount :755
Enter expernses: 500
My total savings in a month is : 255

In [3]:
# swap without uysing third variable

first_num = int(input("Enter first variable:"))
second_num = int(input("Enter the second variable:"))

first_num = first_num + second_num
second_num = first_num - second_num
first_num = first_num - second_num
print("\n First_num is:", first_num, "\nSecond_num is :", second_num)

Enter first variable:10
Enter the second variable:20

 First_num is: 20
Second_num is : 10

In [5]:
num = int(input("Enter a number: "))
temp1 = str(num)
temp2 = temp1 + temp1
temp3 = temp1 + temp1 + temp1
total = num + (int(temp2)) + (int(temp3))
print(temp1, '+', temp2, '+', temp3, '=', total)

Enter a number: 12
12 + 1212 + 121212 = 122436

In [7]:
num_1 = int(input("Enter first number: "))
num_2 = int(input("Enter the second number: "))
Quotient = int(num_1 / num_2)
print("\nQuotient:", Quotient)
Remainder = num_1 % num_2
print("Remainder:",Remainder)

Enter first number: 25
Enter the second number: 5

Quotient: 5
Remainder: 0

In [8]:
principle = float(input("Enter the principle amount:"))
time = int(input("Enter the time(years): "))
rate = float(input("Enter the rate: "))
simple_int =(principle * time * rate)/100
print("The simple interest is:", simple_int)

Enter the principle amount:800
Enter the time(years): 5
Enter the rate: 5
The simple interest is: 200.0

In [11]:
cm = int(input("Give the height in centimeters: "))
inches = 0.394 * cm
feet = 0.0324 * cm
print("The length in inches :", round(inches,4))
print("The length in feet: ", round(feet,4))

Give the height in centimeters: 165
The length in inches : 65.01
The length in feet:  5.346

In [13]:
car_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]
print("List of car before swapping ", car_list)
car_list_temp = car_list[0]
car_list[0] = car_list[2]
car_list[2] = car_list_temp
print("List of cars after the swap: ", car_list)

List of car before swapping  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
List of cars after the swap:  ['Honda Civic', 'Honda Accord', 'Toyota Camry', 'Toyota Corolla']

In [15]:
cars_list = ["Toyota Camry", "Honda Accord", "Honda Civic", "Toyota Corolla"]
print("List of car before swapping ", car_list)
car1 = 1
car2 = 2
car_list[car1], car_list[car2] = cars_list[car2], cars_list[car1]
print("List of cars after the swap: ", car_list)

List of car before swapping  ['Toyota Camry', 'Honda Accord', 'Honda Civic', 'Toyota Corolla']
List of cars after the swap:  ['Toyota Camry', 'Honda Civic', 'Honda Accord', 'Toyota Corolla']

In [22]:
list_student = ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden','Sofia']
print("Student list:", list_student)
print("Number of students: ",len(list_student))
student_set = set(list_student)
print("\n New student list: ", list(student_set))
print("\n Length of modified student list: ", len(student_set))
print("\n There are %s duplicate elements "%(len(list_student)- len(student_set)))

Student list: ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden', 'Sofia']
Number of students:  6

 New student list:  ['Sofia', 'Aiden', 'Samuel', 'Ella']

 Length of modified student list:  4

 There are 2 duplicate elements

In [24]:
list_str = ['Sofia', 'Ella', 'Samuel', 'Ella', 'Aiden','Sofia']
len_list_str = len(list_str)
len_list_set = len(set(list_str))
if len_list_str == len_list_set:
    print("There are no duplicate values")
else:
    print("There are {} duplicate values ".format(len_list_str - len_list_set))

There are 2 duplicate values

In [28]:
num = 50
print("The number stored in num is :" , num)

if not num % 2 == 0:
    print("The number is an odd number")
else:
    print("The number is an even number")

The number stored in num is : 50
The number is an even number

In [30]:
values = input("Enter some comma seprated numbers : ")
list_value = values.split(',')
tuple_value = tuple(list_value)

print("List : ", list_value)
print("Tuple: ", tuple_value)

Enter some comma seprated numbers : 5,1,2,4,5,6,2
List :  ['5', '1', '2', '4', '5', '6', '2']
Tuple:  ('5', '1', '2', '4', '5', '6', '2')

In [32]:
list_words = input("Enter some comma seprated words: ")
words = list_words.split(',')
new_list_words = sorted(words)
print(new_list_words)

Enter some comma seprated words: amit,sonali,ratna,anil,shukla
['amit', 'anil', 'ratna', 'shukla', 'sonali']

In [37]:
sentence = input("Enter some whitespace-seprated words : ")
words = sentence.split(" ")
set_of_words = set(words)
sorted_set_of_words = sorted(set_of_words)
print(" ".join(sorted_set_of_words))

Enter some whitespace-seprated words : amit shukla ratna anil soanli
amit anil ratna shukla soanli

In [40]:
num_dict = dict ()
num_dict[1] = 1
num_dict[2] = 2 ** 2
num_dict[3] = 3 ** 3
print(num_dict)

{1: 1, 2: 4, 3: 27}

In [1]:
string_1 = input("Enter first strings : ")
string_2 = input("Enter second strings: ")
set_1 = set(string_1)
set_2 = set(string_2)
common_char =  set_1.intersection(set_2)
print("\n Common letters: ", list(common_char))

Enter first strings : amit shukla
Enter second strings: ratna shukla

 Common letters:  ['h', 'a', 't', 'k', ' ', 's', 'l', 'u']

In [4]:
list_num = [10,11,12,13,14,15,16,17,18,19,20,21]
len_of_list = len(list_num)
print("Number before  slicing : %s " %list_num)
print("Length of numbers before slicing: ", len_of_list)

half = int(len_of_list / 2)

list_num1 = list_num[:half]
list_num2 = list_num[half:]

print("\n First half: %s" %list_num1)
print("\n Second half: %s"%list_num2)

Number before  slicing : [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Length of numbers before slicing:  12

 First half: [10, 11, 12, 13, 14, 15]

 Second half: [16, 17, 18, 19, 20, 21]

In [6]:
num = float(input("Enter the number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter the number: 25
Positive number

In [9]:
var = 5
if (type(var) == int):
    print("Type of the  variable is Integer")
elif (type(var) == float):
    print("Type of the  variable is float")
elif (type(var) == complex):
    print("Type of the  variable is complex")

else:
    print("Type of the  variable is unkonwn")

Type of the  variable is Integer

In [16]:
num = int(input("Enter the number: "))
if (num % 2 )== 0:
    print("%d is Even" % num)
else:
    print("%d is odd" % num)

Enter the number: 5
5 is odd

In [17]:
num1 = int(input("Enter the number_1 : "))
operator = input("Operator: ")
num2 = int(input("Enter the number_2 : "))
if operator == '+':
    print("Addition", num1 + num2)
elif operator == '-':
    print("Subtraction", num1 - num2)
elif operator == '*':
    print("Multiplication", num1 * num2)
elif operator == '/':
    print("Division", num1 / num2)
else:
    print("Not the valid operator: ")

Enter the number_1 : 5
Operator: /
Enter the number_2 : 5
Division 1.0

In [20]:
num1 = int(input("Enter the number: "))
if num1 % 5 == 0 and num1 % 7 == 0 :
    print("The number is divisible by both 5 and 7")
elif num1 % 5 == 0:
    print("The number is divisible by 5")
elif num1 % 7 == 0:
    print("The number is divisible by 7")
else:
    print("This number is neither divisible by 5 nor 7 ")

Enter the number: 999
This number is neither divisible by 5 nor 7

In [3]:
human_age = int(input("Enter dog's age in human years: "))
if human_age < 0:
    print("Age must be a positive number.")
    exit()
    
if human_age <= 2:
    dog_age = human_age * 10.5

else:
    dog_age = 21 + (human_age - 2)*4
    
print("The dog's age in dog years is", dog_age)

Enter dog's age in human years: 3
The dog's age in dog years is 25

In [ ]:
letter = input("Enter a letter of the alphabet: ")
letter = letter.lower()

if letter in ('a', 'e', 'i', 'o', 'u'):
    print("%s is a vowel." %letter)
elif letter == 'y':
    print("Y is ambiguous. IT depends where it is used")
else:
    print("%s is a consonant." %letter)

In [2]:
month_name = input("Enter the name of the Month: ")
if month_name == "February":
    print("No. of days: 28/29 ")
elif month_name in ("April", "June", "September", "November"):
    print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
    print("No. of days: 31 days")
else:
    print("Give a correct month name")

Enter the name of the Month: September
No. of days: 30 days

In [5]:
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))
if a== b ==c:
    print("Equilateral triangle")
elif a == b or b == c or c == a:
    print("Isosceles triangle")
else:
    print("\n Scalene traingle")

a: 4
b: 5
c: 6

 Scalene traingle

In [8]:
str_value = input("Enter the string: ")
reversed_str = str_value[::-1]
if(str_value == reversed_str):
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

Enter the string: malayalam
The string is a palindrome

In [6]:
ans = int(input("How many days are there in a leap year? "))
print("You entered: ", ans)

if ans == 366:
    print("You have cleared the  first level")
    
    ans = input("\n Which month has an extra day in a leap year? ").lower()
    if ans == "february" :
        print("You have cleared the test.")
    else:
        print("You have failed the test.")
else:
    print("Your answer is wrong, please try again.")

How many days are there in a leap year? 366
You entered:  366
You have cleared the  first level

 Which month has an extra day in a leap year? february
You have cleared the test.

In [7]:
score = int(input("Enter a score: "))
if score >= 90:
    print("A grade")
elif score >= 80:
    print("B grade")
elif score >=70:
    print("C grade")
elif score >= 50:
    print("D grade")

else:
    print("Fail")

Enter a score: 50
D grade

In [12]:
salary = int(input("Enter annual salary: "))
year_service = int(input("Enter year of service: "))
if year_service >= 10:
    print("Bonus is: ", .15 * salary)
elif year_service >= 5 and year_service < 10:
    print("Bonus is: ", 0.5 * salary)
else:
    print(" No bonus")

Enter annual salary: 350000
Enter year of service: 2
 No bonus

In [4]:
# exercise
colors = ["pink", "blue", "red"]
if "pink" in colors:
    print("This color is present in the list")
elif "pink" not in colors:
    print("This color is not present in the list")

This color is present in the list

In [7]:
my_string = "hello"
my_list = list(my_string)
print(my_list)

['h', 'e', 'l', 'l', 'o']