In [78]:
name = ["Amit", "sonali", "ratna", "shukla"]
print(name)

['Amit', 'sonali', 'ratna', 'shukla']

In [79]:
name [5] = "shukla"
print(name)

IndexError: list assignment index out of range

In [80]:
# insert(position,value)
name.insert(5,"Anil")
print(name)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil']

In [81]:
# append---> list_name.append(value)
#.represent the action will be performed on name
# takes only one argument
name.append("shukla")
print(name)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil', 'shukla']

In [82]:
# Also count the blank space in between string
len(name)

6

In [83]:
print(type(name))

<class 'list'>

In [84]:
name.pop()
print(name)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil']

In [85]:
# concatenate two list
list_surname = ["shukla", "mishra", "tiwari", "pandey"]
print(name + list_surname)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil', 'shukla', 'mishra', 'tiwari', 'pandey']

In [86]:
# append one list into another
name.append(list_surname)
print(name)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil', ['shukla', 'mishra', 'tiwari', 'pandey']]

In [87]:
for i in name:
    print(i)

Amit
sonali
ratna
shukla
Anil
['shukla', 'mishra', 'tiwari', 'pandey']

In [89]:
# when you want to add multiple value to the list use extend instead of append
name.extend(["patil", "shinde", "mall"])
print(name)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil', ['shukla', 'mishra', 'tiwari', 'pandey'], 'patil', 'shinde', 'mall']

In [90]:
# concatenate multiple list
list_place = ["london", "newyork", "chicago", "la", "paris", "sydney"]
print(name + list_surname + list_place)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil', ['shukla', 'mishra', 'tiwari', 'pandey'], 'patil', 'shinde', 'mall', 'shukla', 'mishra', 'tiwari', 'pandey', 'london', 'newyork', 'chicago', 'la', 'paris', 'sydney']

In [91]:
# removes one element at a time & throws error when element is not present
name.remove(list_surname)
print(name)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil', 'patil', 'shinde', 'mall']

In [93]:
# printing list as a charcter
name.index("patil")

5

In [95]:
# how to append the list without using append keyword
# 2 ways to do it
name = name + list_surname
print(name)

name += list_surname
print(name)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil', 'patil', 'shinde', 'mall', 'shukla', 'mishra', 'tiwari', 'pandey', 'shukla', 'mishra', 'tiwari', 'pandey']
['Amit', 'sonali', 'ratna', 'shukla', 'Anil', 'patil', 'shinde', 'mall', 'shukla', 'mishra', 'tiwari', 'pandey', 'shukla', 'mishra', 'tiwari', 'pandey', 'shukla', 'mishra', 'tiwari', 'pandey']

In [96]:
# to mrege the differnt list into 1 singlist 
name.extend([list_surname,list_place])
print(name)

['Amit', 'sonali', 'ratna', 'shukla', 'Anil', 'patil', 'shinde', 'mall', 'shukla', 'mishra', 'tiwari', 'pandey', 'shukla', 'mishra', 'tiwari', 'pandey', 'shukla', 'mishra', 'tiwari', 'pandey', ['shukla', 'mishra', 'tiwari', 'pandey'], ['london', 'newyork', 'chicago', 'la', 'paris', 'sydney']]

In [120]:
# reverseing the list
name.reverse()
print(name)
name.reverse()
print(name)

['Amit', 'Anil', 'mall', 'mishra', 'mishra', 'mishra', 'pandey', 'pandey', 'pandey', 'patil', 'ratna', 'shinde', 'shukla', 'shukla', 'shukla', 'shukla', 'sonali', 'tiwari', 'tiwari', 'tiwari', ['shukla', 'mishra', 'tiwari', 'pandey'], ['london', 'newyork', 'chicago', 'la', 'paris', 'sydney']]
[['london', 'newyork', 'chicago', 'la', 'paris', 'sydney'], ['shukla', 'mishra', 'tiwari', 'pandey'], 'tiwari', 'tiwari', 'tiwari', 'sonali', 'shukla', 'shukla', 'shukla', 'shukla', 'shinde', 'ratna', 'patil', 'pandey', 'pandey', 'pandey', 'mishra', 'mishra', 'mishra', 'mall', 'Anil', 'Amit']

In [1]:
# sorting will not happen if a list contain inside list
name.sort()
print(name)

NameError: name 'name' is not defined

In [122]:
# sorting the list revrese =True means descending order
list_fruits = ["mango", "apple", "banana", "jackfruit", "grapes", "watermelon"]
list_fruits.sort(reverse=True)
print(list_fruits)

['watermelon', 'mango', 'jackfruit', 'grapes', 'banana', 'apple']

In [123]:
# default it will sort in the ascending order
list_fruits = ["mango", "apple", "banana", "jackfruit", "grapes", "watermelon"]
list_fruits.sort()
print(list_fruits)

['apple', 'banana', 'grapes', 'jackfruit', 'mango', 'watermelon']

In [132]:
# count the list syntax lis_name.count(argument)
name.count('shukla')

4

In [137]:
# converting list to set
set(list_fruits)

{'apple', 'banana', 'grapes', 'jackfruit', 'mango', 'watermelon'}

In [166]:
del list_surname
list_surname

NameError: name 'list_surname' is not defined

In [176]:
# copy of list in python
new_name = name.copy()
new_name

[['london', 'newyork', 'chicago', 'la', 'paris', 'sydney'],
 ['shukla', 'mishra', 'tiwari', 'pandey'],
 'tiwari',
 'tiwari',
 'tiwari',
 'sonali',
 'shukla',
 'shukla',
 'shukla',
 'shukla',
 'shinde',
 'ratna',
 'patil',
 'pandey',
 'pandey',
 'pandey',
 'mishra',
 'mishra',
 'mishra',
 'mall',
 'Anil',
 'Amit']

In [177]:
del name
name

NameError: name 'name' is not defined

In [185]:
New_name_list = new_name
New_name_list

['mall',
 'mishra',
 'mishra',
 'mishra',
 'pandey',
 'pandey',
 'pandey',
 'patil',
 'ratna',
 'shinde',
 'shukla',
 'shukla',
 'shukla',
 'shukla',
 'sonali',
 'tiwari',
 'tiwari',
 'tiwari',
 ['shukla', 'mishra', 'tiwari', 'pandey']]

In [184]:
new_name.reverse()
new_name

['mall',
 'mishra',
 'mishra',
 'mishra',
 'pandey',
 'pandey',
 'pandey',
 'patil',
 'ratna',
 'shinde',
 'shukla',
 'shukla',
 'shukla',
 'shukla',
 'sonali',
 'tiwari',
 'tiwari',
 'tiwari',
 ['shukla', 'mishra', 'tiwari', 'pandey']]

In [188]:
new_name.remove('shukla')
new_name

['mall',
 'mishra',
 'mishra',
 'mishra',
 'pandey',
 'pandey',
 'pandey',
 'patil',
 'ratna',
 'shinde',
 'shukla',
 'shukla',
 'shukla',
 'sonali',
 'tiwari',
 'tiwari',
 'tiwari',
 ['shukla', 'mishra', 'tiwari', 'pandey']]

In [189]:
New_name_list

['mall',
 'mishra',
 'mishra',
 'mishra',
 'pandey',
 'pandey',
 'pandey',
 'patil',
 'ratna',
 'shinde',
 'shukla',
 'shukla',
 'shukla',
 'sonali',
 'tiwari',
 'tiwari',
 'tiwari',
 ['shukla', 'mishra', 'tiwari', 'pandey']]

In [1]:
## nested list and conversion of list
car_matrix = [['Hennessey venom GT',1244],
               ['SSC Ultimate Aero',1287],
               ['Zenvo ST1',1100]]
print(car_matrix)

[['Hennessey venom GT', 1244], ['SSC Ultimate Aero', 1287], ['Zenvo ST1', 1100]]

In [2]:
len(car_matrix)

3

In [9]:
len(car_matrix[1][0]) # length of  "ssc ultimate Aero"

17

In [10]:
print(car_matrix[2][1])

1100

In [14]:
# slicing in the nested list
print(car_matrix[2][::-1])

[1100, 'Zenvo ST1']

In [20]:
my_list = ['leo',18,
            'Aaron',25,
            'Easton',34,
            'Jordan',30]
print(my_list)

['leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30]

In [18]:
print(dict(my_list))
print(tuple(my_list))
print(set(my_list))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [24]:
student_list = [[1, 'Caleb',2,'Leo'],
                 [3,'Easton',4,'Jordan']]
print(student_list)

[[1, 'Caleb', 2, 'Leo'], [3, 'Easton', 4, 'Jordan']]

In [28]:
print(dict(student_list)) # error becos the python doesnt able to identify key, value pair
# also first element consit of 4 values  so does not able to pair key, value

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [29]:
my_list = [['leo',18],
            ['Aaron',25],
            ['Easton',34],
            ['Jordan',30]]
print(my_list)
print(dict(my_list))# converted nested list to dict
# here python is able to identify the key, value pair

[['leo', 18], ['Aaron', 25], ['Easton', 34], ['Jordan', 30]]
{'leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': 30}

In [31]:
# similarly by changing the list here also python is able to find key value
student_list = [[1, 'Caleb'],[2,'Leo'],
                 [3,'Easton'],[4,'Jordan']]
print(dict(student_list))

{1: 'Caleb', 2: 'Leo', 3: 'Easton', 4: 'Jordan'}

In [32]:
student_list = [[1, 'Caleb'],[2,'Leo'],
                 [3,'Easton'],[4,'Jordan','Adam']]
print(dict(student_list)) # error becos the last element is contain 2 values jordan  & adam

ValueError: dictionary update sequence element #3 has length 3; 2 is required

In [34]:
student_list = [[1, 'Caleb'],[2,'Leo'],
                 [3,'Easton'],[4,['Jordan','Adam']]]
print(dict(student_list)) # now key 4 has two value [jordan , adam]

{1: 'Caleb', 2: 'Leo', 3: 'Easton', 4: ['Jordan', 'Adam']}

In [ ]:
car_matrix = [['Hennessey venom GT',1244],
               ['SSC Ultimate Aero',1287],
               ['Zenvo ST1',1100]]
print(car_matrix)

In [39]:
car_matrix_dict = dict(car_matrix)
print(car_matrix_dict)
car_matrix.pop()

{'Hennessey venom GT': 1244, 'SSC Ultimate Aero': 1287, 'Zenvo ST1': 1100}

['Zenvo ST1', 1100]

In [41]:
car_names=list(car_matrix_dict)
print(car_names)

['Hennessey venom GT', 'SSC Ultimate Aero', 'Zenvo ST1']

In [42]:
car_hp = list(car_matrix_dict.values())
print(car_hp)

[1244, 1287, 1100]

In [43]:
# to print complete dict as a list
car_names=list(car_matrix_dict.items())
print(car_names)

[('Hennessey venom GT', 1244), ('SSC Ultimate Aero', 1287), ('Zenvo ST1', 1100)]