In [3]:
my_tuple = ()
my_tuple

()

In [7]:
my_tuple = "amit", 7, 10 
my_tuple

('amit', 7, 10)

In [9]:
str_tuple = ("raj","krishna","goivnda")
str_tuple
print(my_tuple + str_tuple)

('amit', 7, 10, 'raj', 'krishna', 'goivnda')

In [16]:
a,b,c = str_tuple
print(a)
print(b)
print(c)

raj
krishna
goivnda

In [19]:
new_tuple = (my_tuple,str_tuple)
print(new_tuple)

(('amit', 7, 10), ('raj', 'krishna', 'goivnda'))

In [21]:
my_list = [7,4,1,5,2,4,8,9,]
print(my_list,new_tuple)

[7, 4, 1, 5, 2, 4, 8, 9] (('amit', 7, 10), ('raj', 'krishna', 'goivnda'))

In [24]:
# to convert tuple to list
name = list(str_tuple)
print(name)

['raj', 'krishna', 'goivnda']

In [54]:
# access the tuple and slicing
print(my_name[5])
print(my_name[5:10])
print(my_name[-1:-10:-1])
print(my_name[::-1])
print()

# how to access the mixed tuple
new_tuple = my_tuple + str_tuple + my_list # list cannot be concatenated with tuple
print(new_tuple)

n
('n', 'k', 'h', 'a', 'n')
('n', 'a', 'h', 'k', 'n', 'a', 'm', 'l', 'a')
('n', 'a', 'h', 'k', 'n', 'a', 'm', 'l', 'a', 's')

TypeError: can only concatenate tuple (not "list") to tuple

In [59]:
# to acess the nested tuple
special_tuple = my_tuple,my_list,str_tuple
print(special_tuple)
print()
print(special_tuple[0])
print(special_tuple[0][2])
print()
print(special_tuple[1])
print(special_tuple[1][5])
print()
print(special_tuple[2])
print(special_tuple[2][2])

(('amit', 7, 10), [7, 4, 1, 5, 2, 4, 8, 9], ('raj', 'krishna', 'goivnda'))

('amit', 7, 10)
10

[7, 4, 1, 5, 2, 4, 8, 9]
4

('raj', 'krishna', 'goivnda')
goivnda

In [67]:
# index in tuple
print(my_name.index('k'))

# in in tuple
print("arbaaz" in str_tuple)
print("raj" not in str_tuple)
print("krishna" in str_tuple)

6
False
False
True

In [70]:
# number tuple
int_tuple = (1,4,5,6,9,7)
print(sum(int_tuple))
print(set(int_tuple))
print(list(int_tuple))

32
{1, 4, 5, 6, 7, 9}
[1, 4, 5, 6, 9, 7]

In [71]:
# diff between tuple and list
int_tuple = (1,4,5,6,9,7)
int_tuple [3] = 100
print(int_tuple)

TypeError: 'tuple' object does not support item assignment

In [82]:
star_tuple = special_tuple
print(star_tuple)
print(star_tuple[1])
star_tuple [1][5]= 5620
print(star_tuple)

(('amit', 7, 10), [7, 4, 1, 50000, 2, 4, 8, 9], ('raj', 'krishna', 'goivnda'))
[7, 4, 1, 50000, 2, 4, 8, 9]
(('amit', 7, 10), [7, 4, 1, 50000, 2, 5620, 8, 9], ('raj', 'krishna', 'goivnda'))

In [87]:
p_tuple =tuple("python")
print(p_tuple)
#el p_tuple[3] # becos tuples are immutable cannot delete the element
# but can delete whole tuple

del p_tuple

print(p_tuple1)  # bcos tuple is deleted above

('p', 'y', 't', 'h', 'o', 'n')

NameError: name 'p_tuple1' is not defined

In [121]:
# use of zip function in tuple
tuple_a = (1,2,3,4,5,6)
tuple_b = ("a","b","c","d","e","f")
zipped = zip(tuple_a,tuple_b)
print(zipped) # it printed as a object we cannot see we have to convert in order to see

<zip object at 0x00000282779F2788>

In [132]:
tuple_c = (1,2,3,4,5,6)
tuple_d = ("a","b","c","d","e","f")
zipped = zip(tuple_c,tuple_d)
print(zipped)
result = tuple(zipped) # can be converted to list , set and dic
print(result)

<zip object at 0x000002827790DE08>
((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'))

In [133]:
tuple_e = [6,7,8,9,10]
tuple_f = ["a","e","i","o","u"]
zipped = zip(tuple_e,tuple_f)
print(zipped)
result1 = list(zipped) # can be converted to list , set and dic
print(result1)

<zip object at 0x00000282779B69C8>
[(6, 'a'), (7, 'e'), (8, 'i'), (9, 'o'), (10, 'u')]

In [134]:
a = ("john","charles","mike")
b = ("manager","supervisor","engineer")
zipped = zip(a,b)
print(zipped)
result2 = set(zipped) # can be converted to list , set and dic
print(result2)

<zip object at 0x00000282779B6E08>
{('john', 'manager'), ('charles', 'supervisor'), ('mike', 'engineer')}

In [135]:
c = ("raj","prem","mike")
d = ("manager","supervisor","engineer")
zipped = zip(c,d)
print(zipped)
result3 = dic(zipped) # can be converted to list , set and dic
print(result3)

<zip object at 0x00000282779C0AC8>
{('mike', 'engineer'), ('prem', 'supervisor'), ('raj', 'manager')}

In [131]:
# how to unzip -----> same can be done with set,list,dic
tuple_x,tuple_y = zip(*result2)
print(tuple_x)
print(tuple_y)

('john', 'charles', 'mike')
('manager', 'supervisor', 'engineer')