In [1]:
type(66)

int

In [2]:
float(66)

66.0

In [3]:
a = 66
type(a)

int

In [4]:
my_float = float(a)
print(my_float)

66.0

In [5]:
type(my_float)

float

In [6]:
type(390.8)

float

In [7]:
b = 66.6
my_int = int(b)
print(my_int)

66

In [10]:
print(type(b))
print(type(my_int))

<class 'float'>
<class 'int'>

In [12]:
num_int = 76
num_float = 23.4
print("datatype of num_int:", type(num_int))
print("datatype of num_float:", type(num_float))

datatype of num_int: <class 'int'>
datatype of num_float: <class 'float'>

In [13]:
new_num = num_int + num_float
print(new_num)
print("datatype of new_num is", type(new_num))

99.4
datatype of new_num is <class 'float'>

In [15]:
my_float = 66.99999
my_num  = int(my_float)
print(my_num)

66

In [19]:
a = 125.0
b = 390.8
print(int(a)+int(b))
print(int(a),int(b))

515
125 390

In [20]:
int('12')

12

In [23]:
a = "six"
my_int = int(a)
print(my_int)  # here we are converting string to interger which python does not recognize

ValueError: invalid literal for int() with base 10: 'six'

In [25]:
a = "6"
my_int = int(a)
print(my_int)
print(type(my_int))

6
<class 'int'>

In [28]:
num_int = 123
num_str = "456"
print(type(num_int),type(num_str))
print(num_int+ num_str) # number and string cannot be added

<class 'int'> <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
num_str = int(num_str)
print(type(num_str),num_str + num_int,type(num_int))

<class 'int'> 579 <class 'int'>

In [30]:
str(12)

'12'

In [31]:
my_str = str(num_int)
my_str

'123'

In [32]:
my_float = 5524.53
print("John has " + str(my_float) + " points.")

John has 5524.53 points.

In [34]:
user ="John"
lines = 50
print("Congratulation, " + user + "! You just wrote " + lines + " lines of code.")

TypeError: can only concatenate str (not "int") to str

In [35]:
user ="John"
lines = 50
print("Congratulation, " + user + "! You just wrote " + str(lines) + " lines of code.")

Congratulation, John! You just wrote 50 lines of code.

In [36]:
number = input()
plus_ten = number + 10

10

TypeError: can only concatenate str (not "int") to str

In [37]:
number = int(input())
plus_ten = number + 10
print("If we add 10 to this number, we get" + plus_ten) # error bocs of + sign

15

TypeError: can only concatenate str (not "int") to str

In [38]:
# debug the above error
print("If we add 10 to this number, we get", plus_ten) 

#or 

print("If we add 10 to this number, we get " + str(plus_ten))

If we add 10 to this number, we get 25
If we add 10 to this number, we get 25

In [42]:
number = int(input())
plus_ten = number + 10
plus_twenty = number +20
print("\n If we add 10 and 20 to this number, we get %s and %s " %(plus_ten, plus_twenty))

# or

print("\n if we add 10 and  20 to this number, we get ",(plus_ten),"and",(plus_twenty))

14

 If we add 10 and 20 to this number, we get 24 and 34

 if we add 10 and  20 to this number, we get  24 and 34

In [43]:
old_num = "500"
new_num = "10"
print(old_num - new_num)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [48]:
print(type(old_num),type(new_num))
print(int(old_num)-int(new_num))

<class 'str'> <class 'str'>
490

In [50]:
old_code = "40.6"
new_code = "60.8"

total_code = old_code + new_code
total_code

'40.660.8'

In [59]:
old_code = "40.6"
new_code = "60.4"

total_code = float(old_code) + float(new_code)
print(total_code)

101.0

In [65]:
total_code = int(old_code) + int(new_code)
type(total_code)

ValueError: invalid literal for int() with base 10: '40.6'

In [67]:
old_code = "40"
new_code = "60"

total_code = int(old_code) + int(new_code)
print(total_code)

100

In [68]:
my_float = '4.6'
my_int = "6"
total = float(my_float) + int(my_int)
total

10.6

In [69]:
value_str = "python world"
value_list = list(value_str)
value_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd']

In [70]:
print('Type of value_str is :', type(value_str))
print('Type of value_list is :', type(value_list))

Type of value_str is : <class 'str'>
Type of value_list is : <class 'list'>

In [71]:
list(1,2,3,4,5)

TypeError: list expected at most 1 arguments, got 5

In [72]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [73]:
my_tuple = ('Apple','Orange', 'Mango', 'Banana')
my_tuple

('Apple', 'Orange', 'Mango', 'Banana')

In [74]:
type(my_tuple)

tuple

In [75]:
my_list =list(my_tuple)
my_list

['Apple', 'Orange', 'Mango', 'Banana']

In [76]:
type(my_list)

list

In [77]:
value_str = "python world"
value_tup = tuple(value_str)
print(value_tup)

('p', 'y', 't', 'h', 'o', 'n', ' ', 'w', 'o', 'r', 'l', 'd')

In [78]:
print(type(value_str),type(value_tup))

<class 'str'> <class 'tuple'>

In [80]:
tuple(5000)

TypeError: 'int' object is not iterable

In [81]:
my_list = ['Apple', 'Orange', 'Mango', 'Banana']
print(my_list)

['Apple', 'Orange', 'Mango', 'Banana']

In [83]:
type(my_list)

list

In [84]:
my_tuple = tuple(my_list)
print(my_tuple)

('Apple', 'Orange', 'Mango', 'Banana')

In [85]:
type(my_tuple)

tuple

In [91]:
age_list = [['William',50],['Henry',60],['James',90]]
age_tuple = tuple(age_list)
print(age_tuple)

(['William', 50], ['Henry', 60], ['James', 90])

In [102]:
age_tuple = tuple(age_list[0])
print(age_tuple)
print(type(age_tuple),type(age_list))

('William', 50)
<class 'tuple'> <class 'list'>

In [107]:
pet_list = [('Dog',1),('cat',2), ('Cow',3),('Goat',4)]

In [109]:
pet_tuple = tuple(pet_list)
print(pet_tuple)

(('Dog', 1), ('cat', 2), ('Cow', 3), ('Goat', 4))

In [116]:
age_tuple = ('Leo', 18,
             'Aaron',25,
             'Easton',34,
             'Jordan',30)

In [117]:
age_tuple

('Leo', 18, 'Aaron', 25, 'Easton', 34, 'Jordan', 30)

In [118]:
age_tuple1 = (('Leo', 18),
            ('Aaron', 25),
            ('Easton',34),
            ('Jordan',30))

In [119]:
print(age_tuple1)
print(dict(age_tuple1))

(('Leo', 18), ('Aaron', 25), ('Easton', 34), ('Jordan', 30))
{'Leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': 30}

In [120]:
age_tuple2 = (('Leo',18),
              ('Aaron',25),
              ('Easton',34),
              (['Jordan', 'John'], 30))
age_tuple2

(('Leo', 18), ('Aaron', 25), ('Easton', 34), (['Jordan', 'John'], 30))

In [121]:
dict(age_tuple2)  # the error asirse bcos key (jordan,john) and value 30

TypeError: unhashable type: 'list'

In [ ]:
## debug above error

In [123]:
age_tuple3 = (('Leo', 18),
             ('Aaron',25),
             ('Easton',34),
             ('Jordan',['John',30]))
print(age_tuple3)

(('Leo', 18), ('Aaron', 25), ('Easton', 34), ('Jordan', ['John', 30]))

In [124]:
dict(age_tuple3)

{'Leo': 18, 'Aaron': 25, 'Easton': 34, 'Jordan': ['John', 30]}

In [126]:
age_list = [['William',50],
            ['Joaane',60],
            ['Maria',90]]
age_dict = dict(age_list)
age_list

[['William', 50], ['Joaane', 60], ['Maria', 90]]

In [127]:
print(type(age_list),type(age_dict))

<class 'list'> <class 'dict'>